<!DOCTYPE HTML>
<!-- home.html ==> View del menu principal
    Esta view no está en el enunciado, se agrega para poder tener otras opciones disponibles en la aplic. ejecutable
    Lo incluido en el enunciado corresponde al punto 1 del menú: "Pedir Juguete"
    [LRI 11/8/19]   -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Caso Juguetes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Menu Principal - Caso Juguetes</h1>
	<p>
	<p>
		<a href="/mostrarRepuestos" class="btn btn-default" role="button">Pedir
			Repuestos</a>
	</p>
	</p>
	<p>
	<p>
		<a href="/listarPedidos" class="btn btn-default" role="button">Listar
			Pedidos realizados</a>
	</p>
	</p>
	<p>
	<p>
		<a href="/h2-console" class="btn btn-default" role="button">Consola
			H2</a>
	</p>
	</p>
	<p>
	<p>
		<a href="https://github.com/utnlri/repuestos" class="btn btn-default"
			role="button">Ver código fuente en:
			https://github.com/utnlri/repuestos</a>
	</p>
	</p>
	<p>
	<p>
		<a
			href="https://drive.google.com/open?id=1q5zkR9SFE029FpF2A89OhBYaGdgkKzwj"
			class="btn btn-default" role="button">Ver Dominio Caso Repuestos</a>
	</p>
	</p>
	<p>
	<p>
		<a
			href="https://drive.google.com/open?id=1oo49YcEPTP05M3DxX9kGcMgi-Jx8wiPq"
			class="btn btn-default" role="button">Ver Enunciado C.U. Pedido
			de Repuestos</a>
	</p>
	</p>
	<p>
	<p>
		<a
			href="https://drive.google.com/open?id=1pPgYBdv6CmO0Ax4vp-YLu1RrbKwK8h6_"
			class="btn btn-default" role="button">Ver DCD/DSD Caso Repuestos</a>
	</p>
	</p>


</body>
</html>